
<div class="bs-table">
    <table class="table table-hover">
        <thead class="thead">
        <tr>
            <td ng-repeat="title in table.titles">{{title}}</td>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr ng-repeat="item in table.body">
            <td>{{ item.licensePlateNo }}</td>
            <td>{{ item.carTypeName }}</td>
            <td>{{ item.fleetName }}</td>
            <td>{{ item.driverName }}</td>
            <td>{{ item.workPhone }}</td>
            <td>{{ item.statusName }}</td>
            <td>{{ item.occuredTime}}</td>
            <td><a ui-sref="bsDemo({id: item.licensePlateNo})">编辑</a></td>
        </tr>
        </tbody>
    </table>
    <div class="load-nodata" ng-show="noData">
        暂无数据
    </div>
    <div class="load-nodata" ng-show="loading">
        正在加载中...
    </div>
    <div class="page-box">
        <div class="page-size">共{{ pagination.total }}条</div>
        <ul class="pagination pagination-sm clearfix" uib-pagination total-items="pagination.total" previous-text="《" next-text="》" max-size="5" boundary-link-numbers="true" rotate="false" ng-model="pagination.current" ng-change="" items-per-page="pagination.pageSize"></ul>
    </div>
</div>