<div class="modal-header">
    <h3 class="modal-title text-center">设置意向场站</h3>
    <!-- <i class="glyphicon glyphicon-remove-circle text-right close-btn" ng-click="cancel()"></i> -->
</div>
<response-component status="responseStatus"></response-component>
<div class="modal-body clearfix modal-padding">
    <form novalidate="true" name="form">
        <div class="model-mar-btm20 col-md-12">
            <div class="form-inline">
                <div class="form-group col-md-12" style="padding: 0">
                    <label for="">请为所选择的员工设置意向场站，设置后无法更改：</label>
                    <select ng-show="staffList[0].byUnit" ng-repeat="item in staffList" class="form-control" ng-model="item.intentionSite" ng-options="item.id as item.siteName for item in item.siteList" style="width: 60%"></select>
                    <div style="max-height: 300px;overflow-y: scroll;">
                        <table class="table" ng-show="!staffList[0].byUnit" style="margin-top: 0">
                            <thead class="thead">
                                <tr>
                                    <th>姓名</th>
                                    <th>联系电话</th>
                                    <th>意向场站</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr ng-repeat="r in staffList">
                                    <td>{{ r.driverName }}</td>
                                    <td>{{ r.contactPhone }}</td>
                                    <td>
                                        <select class="form-control" ng-model="r.intentionSite" ng-options="item.id as item.siteName for item in r.siteList" style="width: 60%"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" ng-class="{ 'disabled': form.$invalid }" ng-click="ok()" ng-disabled="form.$invalid">确定</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </form>
</div>