<div class="modal-header">
    <h3 class="modal-title text-center">修改员工信息</h3>
    <!-- <i class="glyphicon glyphicon-remove-circle text-right close-btn" ng-click="cancel()"></i> -->
</div>
<response-component status="responseStatus"></response-component>
<div class="modal-body clearfix modal-padding">
    <form novalidate="true" name="form">
        <div class="clearfix">
            <div class="col-md-12">
                <div>
                    <div>
                        <div class="form-group" style="margin: 0 0 20px 0;">
                            <label for="">姓名</label>
                            <input type="text" name="name" class="form-control form-width" id="" placeholder="" ng-model="staffInfo.driverName" required ng-maxLength="10" ng-pattern="/^[\u4e00-\u9fa5]*$/">
                            <span ng-show="form.name.$dirty && form.name.$invalid" class="model-err">请输入正确的姓名</span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="margin: 0 0 20px 0;">
                            <label for="">性别</label>
                            <div>
                                <label class="radio-inline" ng-repeat="item in genderList">
                                    <input type="radio" name="gender" ng-checked="item.checked" ng-click="changeGender(item.content)" style="margin-left: -16px;">{{item.content}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="margin: 0 0 20px 0;">
                            <label for="">联系电话</label>
                            <input type="text" class="form-control form-width" id="" ng-model="staffInfo.contactPhone" name="contactPhone" placeholder="" ng-pattern="/^1[34578]\d{9}$/" required>
                            <span ng-show="form.contactPhone.$dirty && form.contactPhone.$invalid" class="model-err">请输入正确的联系电话</span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="margin: 0 0 20px 0;">
                            <label for="">身份证号码</label>
                            <input type="text" class="form-control form-width" id="" ng-model="staffInfo.idNo" placeholder="" name="idNo" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" required>
                            <span ng-show="form.idNo.$dirty && form.idNo.$invalid" class="model-err">请输入正确的身份证号码</span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="margin: 0 0 20px 0;">
                            <label for="">应聘日期</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="datepicker.startTime" is-open="datepicker.startOpened" datepicker-options="datepicker.startOptions" required close-text="关闭" clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" readOnly="readOnly" />
                                <span class="input-group-btn">
	    					            <button type="button" class="btn btn-default" ng-click="open()">
	    					                <i class="glyphicon glyphicon-calendar"></i>
	    					            </button>
	    					        </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group textarea-box clearfix" style="margin: 0 0 20px 0;">
                            <label for="">现居住地址</label>
                            <textarea class="form-control form-width" id="" ng-model="staffInfo.resideAddress" rows="5" placeholder="" name="resideAddress" ng-maxLength="50" maxLength="50" required></textarea>
                            <div class="limit">
                                {{limitLen}}/50
                            </div>
                            <span ng-show="form.resideAddress.$dirty && form.resideAddress.$invalid" class="model-err">请输入50字以内的现居住地址</span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" style="margin: 0 0 20px 0;">
                            <label for="">紧急联系电话</label>
                            <input type="text" class="form-control form-width" id="" ng-model="staffInfo.urgencyPhone" name="urgencyPhone" placeholder="" ng-pattern="/^1[34578]\d{9}$/">
                            <span ng-show="form.urgencyPhone.$dirty && form.urgencyPhone.$invalid" class="model-err">请输入正确的联系电话</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" ng-class="{ 'disabled': form.$invalid }" ng-click="ok()" ng-disabled="form.$invalid">确定</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">取消</button>
        </div>
    </form>
</div>